@import url('http://fonts.cdnfonts.com/css/gotham');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  @apply min-h-screen;
  transition: 0.5s;
  @apply transition-colors;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gotham', sans-serif;
}

html.sr .load-hidden {
  visibility: hidden;
}

@layer base {
  ::-webkit-scrollbar {
    @apply hidden md:block w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900 rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-red-900 rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-red-700;
  }

  ::selection {
    @apply text-white bg-red-600;
  }
}
